@import "variables.css";

body {
    background-color: black;
    padding: 0;
    flex-direction: column;
}

header {

}

main {

}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px 150px;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    box-shadow: -10px 10px 20px 1px rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(16px);
    height: 15%;
    mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;   
    margin: 0;
    padding: 0;
}

.navbar ul a {
    text-decoration: none;
    color: white;
}

.navbar li {
    list-style: none;
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0;
    margin: 0 20px 0 0;
}

.navbar h1 {
    font-family: "Aqua Grotesque";
    color: white;
    font-size: 40px;
    font-weight: 100;
    text-shadow: gray 1px 1px 8px;
    margin: 0;
}

#bio-section {
    padding:  0 150px;
    height: calc(100vh - 130px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.bio-container {

}

.bio-container p {
    font-size: 1.35rem;
    line-height: 1.5;
    text-align: left;
    color: white;
    margin: 0;
}

.image-container {
    display: flex;
    justify-content: end;
}

.image-container img {
    width: 100%;
    margin: 0;
    max-width: 580px;
    border-radius: 8px;
    box-shadow: -10px 10px 20px 1px rgba(255, 255, 255, 0.1);
}

#single-section {
    padding:  0 150px;
    height: calc(100vh - 130px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;  
}

.video-container {
    display: flex;
    justify-content: start;
}

.text-container {
    font-size: 1.20rem;
    line-height: 1.5;
    text-align: left;
    color: white;
    margin: 0;
}

.comment-container {
    text-align: left;
}

.lyrics-container {
    display: flex;
    flex-direction: grid;
    gap: 30px;
}

/*----- SOCIAL SECTION -----*/
#social-section {
    padding:  0 150px;
    height: calc(100vh - 130px);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.instagram-feed {
    align-content: center;
}

behold-popover-gallery {
    letter-spacing: 0px;
    text-align: left;
}

behold-branding {

}

/*----- FOOTER -----*/
footer {
    margin: 0;
    padding: 30px 150px;
    font-size: 1.2rem;
    font-weight: 600;
}

footer p {
    margin: 0;
}